/*
* refer to Google Night Mode
* @author VapeHorization
* @link: https://greasyfork.org/zh-CN/scripts/35252-google-night-mode
* @version beta 0.4
* and made some changes
*/

/**************************common style******************************/
*:visited { color: #f2f2f2 !important; }
a:link { color: #e6e6e6 !important; }
/**************************main page******************************/
body,
div#viewport {
    background: #333 !important;
}

/*search box*/
#gs_st0,
.sbib_b {
    background: #1C1C1C !important;
}

/*search input*/
#lst-ib {
    color: white; !important;
}

/*voice search button*/
#gs_st0 {
    margin-top: 0 !important;
}

/*result list*/
.sbsb_a,
.sbsb_c,
.lsb,
#sbfblt,
li[role=option] {
    background: #333 !important;
    color: white !important;
}

li[role=presentation] {
    color: #f2f2f2 !important;
    background: #5f5f5f;
    cursor: pointer;
}
li[role=presentation]:hover { background: #5f5f5f !important; }

.sbpqs_a {
    color: #e6e6e6 !important;
    font-weight: bold !important;
}

/*gmail,images,about,store button*/
a.gb_P {
    color: white !important;
}

/*google search & i am feeling lucky button*/
.jsb input[type="submit"],
.gbqfba {
    background: #333 !important;
    color: white !important;
}

.gbqfba:hover {
    background: #333 !important;
}

/*bottom bar*/
#fbar {
    border: solid 1px #333 !important;
    background: #333 !important;
}
.fbar { background: #333 !important; }

/*setting button on right bottom corner*/
#fsett { background: #333 !important; }

/*profile*/
.gb_fa { background: #333 !important; }
.gb_Bb,
.gb_Db { color: white !important;  }
.gb_Fb,
.gb_Fb a { background: #6e6e6e !important; }

/*google products*/
.gb_rb,
.gb_qb { border-color: #333 !important; }
.gb_ia,
.gb_ja { background: #333 !important; }
.gb_ia li.gb_Z:hover span.gb_3 { background: #333 !important; }
/**************************search result page******************************/
/*head section*/
div.sfbg,
div.sfbgg,
#hdtbSum { background: #6e6e6e !important; }

/*search button*/
.sbico-c {
    background: #1c1c1c !important;
    border: none !important;
    top: 0;
    margin-top: 0;
}

#hdtb-msb .hdtb-mitem.hdtb-msel, #hdtb-msb .hdtb-mitem.hdtb-msel-pre {
    color: lightblue !important;
    border-bottom-color: lightblue !important;
}
#hdtb-msb #hdtb-more, #hdtb-msb #hdtb-tls { color: white !important; }
#hdtb.notl a, #hdtb.notl div, #hdtb.notl li { color: white !important; }

/*tools button*/
#hdtb-msb #hdtb-tls:hover { background: #333 !important; }
#hdtb-msb .hdtb-tl-sel { background: #333 !important; }

/*tools bar item*/
#appbar,
.hdtb-mn-o,
.hdtb-td-o,
.hdtb-mn-cont,
.hdtbItm { background: #333 !important; }
.hdtb-mn-hd .mn-hd-txt { color: white !important; }
.hdtb-mn-hd .mn-dwn-arw { border-color: white transparent !important; }

/*any time & any result list*/
#hdtb .hdtbItm a:hover {
    background: #5f5f5f !important;
}

/*custome range*/
.cdr_dlg .cdr_ttl,
.cdr_mml,
#cdrlnk { color: white !important; }
.cdr_dlg,
#cdrlnk:hover { background: #333 !important; }

/*settings button*/
._dMq { background: #333 !important; }
._dMq a:hover { background: #5f5f5f !important; }

/*result item text*/
.st { color: gray !important; }

#res a:link,
#extrares a:link { color: #f2f2f2 !important; }
#res h3 { color: white !important; }
._Jvo ,
._VSv ,
._USv{ background: #6e6e6e !important; }
.f { color: #f2f2f2 !important; }
a._Fmb { background: #333 !important; }

._zF,
.ab_button {
    background: #333 !important;
    color: white !important;
}
._Iqg { color: lightblue !important; }
._wtf {
    color: lightblue !important;
    fill: lightblue !important;
}

/*top stories*/
g-inner-card {
    background: #333 !important;
    color: gray !important;
}
#brs .med,
.kno-ecr-pt,
._W5e { color: white !important; }

.knowledge-panel.kp-blk .mod,
._kTi .mod,
._RBg ._xdb .fl,
a.fl,
#res a._Lgi { color: gray !important; }

/*other*/
._Tgc { color: gray !important; }
._Z1m,
._F5r>div {
    background: #333 !important;
    color: gray !important;
}
._f6x { color: gray !important; }
._o0x:hover { background: #5f5f5f !important; }

/*people also ask*/
._qgo {
    background: #333 !important;
    border: none !important;
}

.rl_item .title,
._Rsi,
._qhf { color: gray !important; }

._SWb a.fl,
._Kjf,
.ktf,
._bfj { background: #333 !important; }

.ktf { color: #fff; }

/*see results about*/
#rhs ._wD.rhsvw:hover { background: #333 !important; }

#res a:visited,
#extrares a:visited {
    color: #999 !important;
}

/*compatibility with cardstyle UI*/
.g,
#botstuff { background: #333 !important; }

/*fix conflict with searchEngineJump*/
#sej-container,
#sej-container a,
.sej-engine:hover {
    background: #333 !important;
}