div#searchform {
    position: fixed !important;
}

div#top_nav {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.appbar {
    margin-top: 40px;
}

body.vasq #hdtbMenus.hdtb-td-o {
    height: 44px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background: #fafafa;
    top: 59px !important;
}

.hdtb-mn-cont {
    margin-top: 8px;
}
#sej-container {
    position: fixed;
    margin-top: 45px !important;
    margin-bottom: -40px;
    background: #fff;
    z-index: 200 !important;
}